*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper{ 
    width: 40%;
    margin:0 auto
}

h1{
    text-align: center;
}

ul{
    padding:2rem
}

li{
    margin-bottom:1rem;
}

.testo-sbarrato{
    text-decoration: line-through;
}